body {
  background-color: #165EFF;
  font-family: Yatra One;
  color: #FF7B73;
}


.rectangle h1{
  height: 40vh;
  width: 60vw;
  border: 6px solid #FF7B73; 
  margin: 0 auto;
position: absolute;
left: 20vw;
top: 30vh;
font-size: 26vh;
text-align: center; 
}


.column {
	font-size: 2vw;
padding-right: 3%;
padding-top: 7vh;
  float: left;
  width: 21vw;
  left: 250px;
position: relative;
left: 21%;
top: 70vh;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.line {
position: absolute; top: 0%;
  height: 5.5vh;
  width: 0px;
  border: 3px solid #FF7B73; 
}


.header {
	font-size: 50px;
}


.projects p {
	color: #FF008B;
	font-size: 30px;
}

.links a:visited{
  color: #FF7B73;
  text-decoration: none;
}

.links a:hover {
  color: greenyellow ;
  text-decoration: none;
}

.links a:link {
	color: #FF7B73;
	text-decoration: none;
}
















/////////
<div id="exercises">
      <div class="header">
      <h2>Exercises</h2> </div>
      <ul>
        <li><a href="index.html">EX 1</a></li>
        <li style="color: #FF008B;">EX 2</a></li>
      </ul> 
    </div> 

   
    <div id="projects">
      <div class="head">
      <h2>Projects</h2> </div>
      
      <ul>
        <li><a href="bolthouse/index.html">Community Archive</a></li>
      </ul>
    </div>
