@font-face {
  font-family: Dilate;
  src: url(Dilate-Dilate.ttf);
}

body {
 	font-family: Dilate;
	color: black;
	font-size: 57px;
	line-height: 59px;
    background-color: #c8c8d0;
    font-variation-settings: 'wght' 600;
    text-transform: uppercase;
    margin: auto;
 }

h1 {
	font-weight: 400;
	font-size: 57px;
	line-height: 59px;
	font-variation-settings: 'wght' 400;
	animation: dilate 3000ms infinite forwards;
	animation-iteration-count: infinite;
}

@keyframes dilate {
  0% {
    font-variation-settings: 'wght' 400;
  }
  
  50% {
    font-variation-settings: 'wght' 800;
  }

  100% {
    font-variation-settings: 'wght' 400;
  }
}


.entergarden h1 {
    position: absolute;
    bottom: 15vh;
    left: 40.5vw;
    width: 19vw;
	text-align: center;
	font-size: 45px;
	line-height: 48px;
	transform: perspective(400px) rotateX(45deg);
}

a {
text-decoration: none;
color: black;
}

a:hover {
text-decoration: none;
color: coral;
}

.wall{
	background: #7a798b;
	width: 850px;
	height: 100vh;
	top: -140px;
	position: fixed;
	display: flex;
	align-items: center;
}

.leftwall {
  position: fixed;
  left: 0;
  transform: perspective(600px) rotateY(45deg);
}

.door {
	height: 55vh;
	width: 12vw;
	background-color: #434679;
	position: fixed;
	bottom: 0;
	right: 23.5vw;
	cursor: url('pointing.png'), default;
}

.door:hover{
	background-color: #6565a0;
}

.handle {
	height: 5vh;
	width: 2%;
	background-color: #b68b71;
	position: fixed;
	bottom: 25vh;
	right: 23.5vw;
	cursor: url('pointing.png'), default;
}

.enterroom h1 {
	position: fixed;
	bottom: 16vh;
	right: 16vw;
    text-align: left;
    width: 100px;
    cursor: url('pointing.png'), default;
}

.fridge h1 {
	position: fixed;
  	left: 12vw;
  	top: 20vh;
  	width: 200px;
  	text-align: center;
  	transform: skew(-1deg, 18deg)
}

.rightwall{
  position: fixed;
  right: 0;
  transform: perspective(600px) rotateY(-45deg);
}

.fridge {
	height: 50vh;
	width: 14vw;
	background-color: #434679;
	position: fixed;
	bottom: 0;
	left: 5vw;
}

.fridgetext h1 {
  font-size: 60px;
  line-height: 64px;
  width: 25vw;
  position: fixed;
  left: 0vw;
  bottom: 47vh;
  text-align: center;
}

.divider {
	height: 7px;
	width: 14vw;
	background-color: #999999;
	position: fixed;
	bottom: 30%;
	left: 5vw;
}

.fridgehandletop {
	height: 40px;
	width: 9px;
	background-color: #999999;
	position: fixed;
	bottom: 35%;
	left: 7vw;
}

.fridgehandlebottom {
	height: 50px;
	width: 9px;
	background-color: #999999;
	position: fixed;
	bottom: 20%;
	left: 7vw;
}

.floor {
  height: 100vh;
  width: 100vw;
  background-color: #c8c8d0;
  position: fixed;
}

.gardenphoto img{
	height: auto;
	width: 60vw;
	position: fixed;
	bottom: 33vh;
	left: 20vw;
	right: 20vw;
}

.fridge img{
	height: 400px;
	width: auto;
	position: fixed;
	top: 49vh;
	right: 15vw;
}

.eye img {
	margin: auto;
    width: 100vw;
    height: 100vh;
    /* height: 100%; */
    position: fixed;
    left: 0;
    opacity: 100%;
    pointer-events: none;
}


















